.name {
  margin: 0;
  font-weight: bold;
  font-size: 42px;
}

.main {
  display: flex;
  column-gap: 1.5rem;
}

.image {
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.content {
  list-style: none;
  padding-left: 0;

  > li {
    margin-top: 2rem;
    > h5,
    p {
      margin: 0;
    }
  }
}
