.dogCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
}

.dogCardImg {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: yellowgreen;
}
